
ul { list-style-type: none;}
ul li::before { list-style-image: url(../images/emoji.ico); }

.ico {
    width: 20px;
    height: 20px;
}
.tiny-ico{
    width: 10px;
    height: 10px;
}
.logo {
    width: 50px;
    height: 50px;
}