body {
    background-color: black;
    color: wheat;
}

h1 {
    color: #FFAA00;
    margin-left: 20px;
  }

h2 {
    color: #AAAAAA;
    margin-left: 20px;
  }

div.green-band {
    height: 25px;
    background-color: #00AA00;
    display: flex;
    justify-content: space-between;
}

div.brown-band {
    height: 40px;
    background-color: #825432;
    display: flex;
    justify-content: space-between;
}
div.brown-band> h2 {
    color: white;
    font-size: 30px;
    margin: 0;
    align-self: flex-end; /* put it at the bottom */
}
div.brown-band> img {
    width: 20px;
    height: 20px;
}

div.page-title {
    height: 100px;
    background-color: #555555;
    display: flex;
    justify-content: space-between;
}
div.page-title> h1 {
    color: #55FFFF;
    font-size: 60px;
    font-family: 'Aldrich';
    text-align: center;
    vertical-align: middle;
    line-height: 1000px;   
    padding: auto;
}
div.page-title> img {
    width: 40px;
    height: 40px;
    padding: auto;
}

ul { 
    list-style-type: none;    
    padding-left: 2em;
}
ul li::before { 
    list-style-image: url(/BBH_Demo/images/emoji.ico); 
}

.ico {
    width: 20px;
    height: 20px;
}
.tiny-ico{
    width: 10px;
    height: 10px;
}
.logo {
    width: 50px;
    height: 50px;
}